@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:rgb(79, 99, 161);
    width: auto;
    height: 180px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}

header div div a {
    color: black;
}
.titulo {
    font-family: 'Caveat', cursive;
    font-size: 70px;
    text-align:center;
    text-overflow: ellipsis;
}
.foto {
    width: 1100px;
    height: 445px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    margin-top: 40px;
}
.contenedoruno{
    display: block;
    margin-left: 100px;
    margin-right: 70px;    
}

.avanzamos{
    font-family: 'Arimo', sans-serif;
    font-size: 40px;
    font-style: oblique;
    position: absolute;
    top: 35%;
    left: 60%;
    }


.contenedor{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: row;
    justify-content: space-around;
    font-size: small;
}

.gobierno {
    border: 1px solid black; 
    padding: 20px; 
    background-color: rgb(99, 161,79);
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 25px; 
}

.servicios {
    border: 1px solid black; 
    padding: 20px; 
    background-color: rgb(99, 161, 79); 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 25px; 
}

.noticias {
    border: 1px solid black; 
    padding: 20px; 
    background-color: rgb(99, 161, 79); 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 25px; 
}

.consultas {
    border: 1px solid black; 
    padding: 20px; 
    background-color: rgb(99, 161, 79); 
    color: #ffffff; 
    text-decoration: none; 
    text-transform: uppercase; 
    font-family: 'Helvetica', sans-serif; 
    border-radius: 25px; 
}
.fotosPresentacion {    
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 250px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    }

.gobierno1 {
    background-size: 100%;
    background-color: rgb(99, 161, 79);
    font-size: 30px;
}
    

.contenedorFotos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedorFotos img {
    border-radius: 50%;
    border: solid 1px;
}
.contenedorFotos p {
    text-align:center;
    font-size: 15px;
}
.botonesServicios h3{
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
}
.botonesServicio{
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}
.serviciosUno{
    background-size: 100%;
    background-color: rgb(99, 161, 79);
    font-size: 30px;
}
.botones{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}
.boton {
    width: 25%;
    background-color: rgb(161, 79, 99);
    border: solid black;
}
.noticiasuno{
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 550px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}
.noticiasdos{
    background-size: 100%;
    background-color: rgb(99, 161, 79);
    font-size: 30px;
}

footer{
    margin-top: 40px;
    font-family: 'Arimo', sans-serif;
    width: 100%;
    height: 150px;
    padding-left: 20px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: none;
}
.card-img-top{
    height: 285px;
}

.caja{
    display: flex;
    flex-direction: row;
}
.cajaUno{
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
}
.reclamosUno{
    background-size: 100%;
    background-color: rgb(99, 161, 79);
    font-size: 30px;
}